
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;

    -fx-background-radius: 0;

    -fx-background-color: #1d1d1d;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
}

.button:hover{
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed
{
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}



.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default
{
    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}

.button:default:hover{
    -fx-background-color: #219297;
}


